.category_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  gap: 3rem
}

.category_item {
  text-align: center;
  box-shadow: #f6f6f6 0 0 10px 10px;
  border-radius: 2rem;
  padding:0 0 2rem;
  transition: 0.1s;
  & > img {
    width: 100%;
  }
}

.category_item:hover{
  transform: scale(1.05);
}